export default {
    app: {
        googleCustomSearch: {
            apiKey: process.env.GOOGLE_CUSTOM_SEARCH_API_KEY,
            id: process.env.GOOGLE_CUSTOM_SEARCH_CX
        },
        openai: {
            apiKey: process.env.GPT4_API_KEY
        },
        database: {
            type: process.env.DB_TYPE
        },
    },
    preferences: {
        locationType: "remote",
        voice: "third-person",
        bulkSize: 10
    },
    input: {
        personal_info: {
            first_name: "John",
            last_name: "Doe",
            location: "New York, NY, USA",
            email: "john@example.com",
            linkedin: "https://linkedin.com/in/yourprofile/",
            github: "https://github.com/yourusername",
            website: "https://yourwebsite.com",
            address: "123 Main St, New York, NY 10001",
            phone: "+1234567890",
            current_company: "Your Current Company",
            lever: {
                location: {
                    name: "New York, NY, USA",
                    id: "f2b3b2d1-3d6e-4f3b-8b1f-4b6b4f3b2d1"
                }, // This is required for adding your location to Lever. You can get this by selecting manually your location in Lever and then inspecting the #selected-input value.
            }
        },
        cover: 'Write your cover letter here',
    }
}